input[type='submit'],
button,
[aria-label] {
  cursor: pointer;
}

#editForm {
  display: none;
}


.error {
  color: red;
}

#editerror {
  margin: 1px;
}

#eingabefehler {
  margin: 1px;
}

/*#addbutton1 div{
    height: 100px;
    width: 100px;
    margin: 5px;
    padding: 80px;
    border: 3px solid #8abbfc;
    background-color: #8abbfc;
    font-size: 40px;
}*/


.buttonslight {
  background-color: transparent;
  border: none;
  font-size: 20px;
}

.checkbox {
  width: 22px;
  height: 22px;
}

/*#addbutton1{
display:block;
height: 50px;
width: 50px;
margin-top: 10px;
border-radius: 50%;
border: 1px solid rgb(0, 0, 0);
background-color: #8abbfc;
font-size: 40px;
color: white;
}*/
h2 {
  font-size: 20px;
  color: #000000;
}

.heading {
  /*font-family: Arial, Helvetica, sans-serif;*/
  margin-bottom: 1%;
  margin-left: 1%;
  margin-top: 1%;
  /*border: 1px solid rgb(0, 0, 0);*/ 
  text-align: left;
}

.heading h1 {
  display: inline-block;
  border: 1px solid black;
  border-radius: 8%;
  padding: 0.25em;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
}

#counter {
  font-family: Arial, Helvetica, sans-serif;
}

/*#example {
  font-family: Arial, Helvetica, sans-serif;
  visibility: hidden;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 105%;
  text-align: center;
  z-index: 1000;
}

#example div {
  width: 350px;
  height: 80px;
  margin: 100px auto;
  background-color: #8abbfc;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border: 1px solid #000000;
  padding: 15px;
  text-align: center;
  font-weight: bold;
  font-size: 15px;
  border: 3px solid #000000;
  position: absolute;
  left: 50%;
  top: 100px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}*/

/*#addtodo {
  font-family: Arial, Helvetica, sans-serif;
  visibility: hidden;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 105%;
  text-align: center;
  z-index: 1000;
}

#addtodo div {
  width: 350px;
  height: 80px;
  margin: 100px auto;
  background-color: #8abbfc;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border: 1px solid #000000;
  padding: 15px;
  text-align: center;
  font-weight: bold;
  font-size: 15px;
  border: 3px solid #000000;
  position: absolute;
  left: 50%;
  top: 100px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}*/

.btn1 {
  transition: all 300ms cubic-bezier(0.39, 0.575, 0.565, 1); 
  margin-bottom: 4px;
  display: block;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 1px solid rgb(0, 0, 0);
  /*background-color: #8abbfc;*/
  font-size: 1.5em;
  color: white;
}

.headmodal {
  margin-bottom: 2;
}

.btn1 h4 {
  color: #111;
  font-weight: 600;
}

.btn1:hover {
  /*border: 2px solid #111;
  box-shadow: 0px 0px 4px px #8abbfc;*/
  background-color: #5fa5ff;
}


.my-custom-scrollbar {
  /* position: ; */
  height: 450px; 
  /* width: 1000px; */
  overflow: auto;
  display: block;
  margin-left: 0%;
  margin-right: 0%;
  
  }
  .table-wrapper-scroll-y {
  display: block;
  }

  #datebox {
    margin-top: 5px;
  }


.calenderebox{
  width: 33%;
}

  